<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Elton and Dro,</h1>
    <p>User: <%= @user.username %> has posted on Coppis on <%= Time.now %></p>
    <p>Title: <%= @post.title%></p>
    <p>Post: <%= @post.brand_name%></p>
    <h1>Have a great day!</h1>
  </body>
</html>