<div class="alert-container">
	<p id="notice"><%= notice %></p>
	<div class="alert alert-info alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <strong>WELCOME TO COPPIS!</strong>
	  <br>
	  Share, discover and discuss the latest designs in streetwear.
	</div>
</div>
<!-- post wrapper -->
<div class="jumbo">
<ul class="posts-group">
<!-- start of post -->
  <% @posts.each do |post| %>
  
  <%= render partial: "shared/partials/post",  locals: { post: post } %>

  <% end %>
</ul>
</div>
<nav><ul id="paginate"><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></ul></nav>