

<div class="about-wrapper">
	<h3>About Us</h3>
	<br>
<div class="about-container">
Coppis is a platform to explore and share designs provided by the streetwear community.
<p><p>


</div>
<div class="contact-container">
If you have any questions feel free to contact us at <a href= "mailto:support@coppis.co", > support@coppis.co</a>
<div>

</div>