
<div class="guidelines-wrapper">
	<h3>Guidelines</h3>
<div class = "guidelines-container">
 
<p>
Coppis is a community based platform that allows people to share streetwear designs. 
</p></div>


<div class = "guidelines-container">
<h3>Submitting a Post</h3>
<br>
<p><h4>Anyone can post!</h4></p>
<p>Once signed in to Coppis, anyone can submit a post. In order to control quality, each post will be reviewed and if the post meets our requirements, it will be made available for other Coppis members to view.</p>


<h4>Requirements?!</h4>
<p>Yes. We want as many people in the streetwear community to be involved with sharing designs they have discovered, but we also want to ensure quality so that our users have a pleasant experience when visiting our site. So, login, click the “Submit” button, and send us the following:</p>
<p>
   <li>Design Name</li>
   <li>Brand Name</li>
   <li>Picture or image of the design</li>
</p>
</p>
<p><b>Design Name</b> - We prefer the name of the design if it is available, but we will accept a generic name<br>
<i>(ie: long sleeve white tee)</i></p>
<p><b>Brand Name</b> - We require the name of the brand that made the design.</p>
<p><b>Picture or Image</b> - It is important to us that a design and a brand is properly represented on our site, so we require high quality images. </p>

<p><h4>“SELFIE!”</h4> 
We will accept photographs one takes of themselves, but, Coppis is focused on streetwear designs. Here are some of the things we are looking for in an image:</p>


   <li>Design must be visible</li>
   <li>Image must be clear, so avoid blurry pictures due to shake or low light</li>
   <li>Good lighting is important because we want to see the design you are submitting</li>

<br>Once the submission has been reviewed and it meets our quality standards it will be posted in our Coppis feed where members can vote and comment on the design. 


<h4> One more thing about posting </h4>
<p>We reserve the right to make changes to any post. Things we may edit include, but are not limited to the following:</p>

   <li>Changing a submitted picture</li>
   <li>Changing a submitted 'Design Name'</li>
   <li>Changing a submitted 'Brand Name' </li>

</div>

<div class = "guidelines-container">
<h3>Comments</h3>
<br>
<p>Comments and feedback are welcomed and encouraged to allow the Coppis community to get a better understanding of what people think of a specific design.</p>

<p>Be honest, not offensive
The guidelines for comments include, but are not limited to the following:</p>
<p>
   <li>Provide feedback towards a specific design </li>
   <li>Be related to the specific design being discussed. Comments may include links that are related to the design or brand </li> </p>


<p>All comments are not expected to be favorable towards every design, but also should not berate or cause other members to feel upset or uncomfotable.</p>


<h4>No “Troll” Policy</h4>
The following may lead to the removal of comments and/or the removal of the ability to comment: </p>


  <p> <li>Comments that may offend other members </li>
   <li>Comments that intend to harm or provoke others </li>
   <li>Comments that may anger other members</li>
   <li>Any attempt to promote an unrelated site</li> </p>

<p> To ensure quality, members must be selected and granted access to leave comments. Here are some ways to gain ability to post comments: </p>
<p><li>If your submission is posted you will have the ability to comment on your post and other posts moving forward</li>
<li>A person or persons who can contribute productive feedback<br>(i.e. Brand Owners or Retailers)</li> </p>

 </div>

<div class = "guidelines-container">
<h3>Voting</h3>
<br>
<p>If you are logged in, you can vote. We encourage voting on designs that you like as this increases it’s chances to be seen by other members of the Coppis community.</p>
</div>

<div class="contact-container">
If you have any questions feel free to contact us at <a href= "mailto:support@coppis.co", > support@coppis.co</a>
<div>
