<% if current_user.username == ("Elton_Murillo") || ("cmconsing") || ("menandro_m") %>

<%= render 'admin_edit' , locals: { query: params[:id] }%>

<% else %>
<h1>You are not authorized to view this page.</h1>
<% end %>
 