<% if current_user.username == ("Elton_Murillo") || ("cmconsing") || ("menandro_m") %>

<h1>Editing post</h1>
<%= render 'admin_edit' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<% else %>
<h1> You can't come here. :/</h1>
<% end %>
 