/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_form
 *= require_self
 */

$navbar-default-bg: 									lighten(#000, 15%);
$navbar-default-link-color: 					lighten(#000, 80%);
$navbar-default-link-active-color: 		white;
$navbar-default-link-hover-color: 		white;
$navbar-default-brand-color: 					white;
$jumbotron-bg: 												white;
$brand-primary:                				lighten(#000, 15%);
$grayLight:                           gray;   

@import "bootstrap-sprockets";
@import "bootstrap";

$color-text-link: #333333;
$secondary-color-text-link: #7f8c8d;

/* set body font */
body {
	font-family: 'Open Sans', sans-serif;
}

/* HEADER STARTS */

.logo-header a {
	padding-top: 17.3125px;
	padding-bottom: 17.3125px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.logo-header img {
	height: 15.375px;
	width: 55px;
}

#add-button a {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > img {
	height: 50px;
	width: 50px;
}

/* HEADER ENDS */

.jumbotron {
	max-width: 800px;
	min-height: 240px;
	margin: 0 auto;
}

.registration-banner {
	max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	background-color: #ecf0f1;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.registration-banner h1, h4 {
	text-align: center;
}

.alert-container {
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/* POST FORM STARTS */
.post-form-container {
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}
#post-form {
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: lighten(#000, 95%);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
}

#post-form-header {
	margin-bottom: 20px;
	text-align: center;
	background-color: lighten(#000, 85%);
}

#post-form-header h1 {
	padding-top: 0px;
	font-weight: 800;
	color: lighten(#000, 50%);
}

#post-form-field {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

#post-form-footer {
	background-color: lighten(#000, 95%);
	height: 52px;
}
#form-button {
	float: right;
}
.help-block{
	float: right;
	font-style: italic;
	font-size: .8em;
	margin-top: 0px;
}

/* POST FORM ENDS */

.upvote {
	background-color: #ecf0f1 !important; 
	width: 34px;
	height: 46px;
	text-align: center;
	padding-top: 10px;
	border-radius: 4px;
	float: left;
	margin-right: 15px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	display: block;
	position:relative;
	font-weight: 900;
}
.upvote a { 
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
}
.vote-count {
	position: relative;
	top: 12px;
	color: #262626;
}
.glyphicon-chevron-up {
	padding: 8px;
	font-size: 1.2em;
}
a.no-vote:link {
    text-decoration: none;
    color: #95a5a6;
}
a.no-vote:visited  {
    text-decoration: none;
    color: #95a5a6;
}
a.no-vote:hover {
    text-decoration: none;
    color: #ea3835;
}
a.no-vote:active {
    text-decoration: none;
    color: #ea3835;
}
a.yes-vote:link  {
    text-decoration: none;
    color: #ea3835 !important;
}
a.yes-vote:visited  {
  text-decoration: none;
  color: #ea3835 !important;
}
a.yes-vote:hover  {
  text-decoration: none;
  color: #ea3835 !important;
}
a.yes-vote:active  {
  text-decoration: none;
  color: #95a5a6 !important;
}

.post-title a {
	color: #262626;
}

.blue-link {
	color: #3498db;
	a:hover {
		color: #3498db;
	}
}

.delete-account a {
	color: red;
	font-size: .8em;
}

ul { list-style-type: none; }

/* bootstrap container fluid */
.container-fluid {
	max-width: 800px;
}

#paginate {
	text-align: center;
}

.post-edit {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.edit-table {
	margin-right: 10px;
}
li.dropdown > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown img {
	border-radius: 90px;
	height: 30px;
	width: 30px;
}
.dropdown-toggle a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.user-photo img {
	border-radius: 90px;
	height: 40px;
	width: 40px;
}

.admin-toggle {
	font-size: 2em;
}

.footer{
    clear: both;
	max-width: 800px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	border-top: solid #7f8c8d;
	border-top-width: 1px;
	padding-top: 10px;
	margin-top: 80px;

}