/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-default-bg: 									lighten(#000, 15%);
$navbar-default-link-color: 					lighten(#000, 80%);
$navbar-default-link-active-color: 		white;
$navbar-default-link-hover-color: 		white;
$navbar-default-brand-color: 					white;
$jumbotron-bg: 												white;
$brand-primary:                				lighten(#000, 15%);
$grayLight:                           gray;   

@import "bootstrap-sprockets";
@import "bootstrap";

$color-text-link: black;
$secondary-color-text-link: #7f8c8d;

/* set body font */
body {
	font-family: 'Open Sans', sans-serif;
}

.jumbotron {
	max-width: 800px;
	min-height: 240px;
	margin: 0 auto;
}

.registration-banner {
	max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	background-color: #ecf0f1;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#form-button {
	margin-bottom: 40px;
}

.upvote {
	background-color: #ecf0f1 !important; 
	width: 50px;
	height: 60px;
	text-align: center;
	padding-top: 10px;
	border-radius: 4px;
	float: left;
	margin-right: 20px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	box-shadow: 0px 1px 2px 0px rgba(212,212,212,1);
	display: block;
	position:relative;
	font-weight: 900;
}
.upvote a { 
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
	text-decoration:none; 
}
.glyphicon-chevron-up {
	margin-top: 10px;
	font-size: 1.5em;
	color: #95a5a6;
}
a.upvote-link:visited  {
    text-decoration: none;
    color: red !important;
}
a.upvote-link:hover {
    text-decoration: none;
    color: red;
}

.blue-link {
	color: #3498db;
	a:hover {
		color: #3498db;
	}
}

.delete-account a {
	color: red;
	font-size: .8em;
}

ul { list-style-type: none; }

/* bootstrap container fluid */
.container-fluid {
	max-width: 800px;
}

#paginate {
	text-align: center;
}

.post-edit {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.edit-table {
	margin-right: 10px;
}
li.dropdown > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown img {
	border-radius: 90px;
	height: 30px;
	width: 30px;
}
.dropdown-toggle a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer{

	max-width: 800px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	border-top: solid #7f8c8d;
	border-top-width: 1px;
	padding-top: 10px;
	margin-top: 80px;

}