// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* post styling */

ul { list-style-type: none; }

.post {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.description {
	font-size: 1.5em;
	margin-right: 4px;
}
.brand-name a {
	color: #7f8c8d;
	font-weight: 400;
}

.post-user {
	color: #7f8c8d;
	font-size: .8em;
	padding-left: 0px;
}
.user-name {
	font-weight: 700;
}
.comment-count {
	font-size: .8em;
	font-weight: 700;
	line-height: 2em;
	padding-left: 55px;
}	

/* styling links */
a{
    text-decoration: none;
    color: #333333;

}
a:link {
    text-decoration: none; 
    color: #333333;
}

a:hover {
    text-decoration: underline;
    color: #333333;
}

a:active {
    text-decoration: underline;
    color: #333333;
}