<% @post.comments.each do |comment| %>
  <ol class="comments">
    <span class="user-photo"><img src="http://api.randomuser.me/portraits/men/40.jpg" height="40" width="40"></span><span class="comment-user"><%= @post.comments.find(params[:id]).user.username %></span><span class="timestamp"><%= @post.comments.find(params[:id]).created_at %></span>
		<div class="content-comment"><%= auto_links(@post.comments.find(params[:id]).content)  %></div>
  </ol>
<% end %>