<div class = "footer">
<tr>
<td>

<center>
<span class="CopLinks"> 
<p> 
<%= link_to "About Us", about_path, :target => "_blank" %> &nbsp|&nbsp
<%= link_to "Guidelines", guidelines_path, :target => "_blank"  %> &nbsp|&nbsp
<%= link_to "Privacy Policy", privacypolicy_path, :target => "_blank"  %> &nbsp|&nbsp
<%= link_to "Terms of Service", tos_path, :target => "_blank"  %>
</p> 
</span>
</center>

</td>
</tr>
</div>