<div class = "footer">
<tr>
<td>

<center>
<span class="CopLinks"> 
<p> 
<%= link_to "About Us", about_path %> &nbsp|&nbsp
<%= link_to "Guidelines", guidelines_path %> &nbsp|&nbsp
<%= link_to "Privacy Policy", privacypolicy_path %> &nbsp|&nbsp
<%= link_to "Terms of Service", tos_path %> &nbsp|&nbsp
<a href="#">Contact Us</a>
</p> 
</span>
</center>

</td>
</tr>
</div>